<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
          /* Remove the navbar's default margin-bottom and rounded borders */
          .navbar {
            margin-bottom: 0;
            border-radius: 0;
          }

          /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
          .row.content {height: 450px}

          /* Set gray background color and 100% height */
          .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 50%;
          }

          /* Set black background color, white text and some padding */
          footer {
            background-color: #555;
            color: white;
            padding: 15px;
          }

          /* On small screens, set height to 'auto' for sidenav and grid */
          @media screen and (max-width: 767px) {
            .sidenav {
              height: auto;
              padding: 15px;
            }
            .row.content {height:auto;}
          }
          #page-wrapper{
              width: 70%;
              margin-left: auto;
              margin-right: auto;
          }
          .titleFiche{
                border: 1px solid blue;
                width: 362px;
                padding-left: 15px;
                margin-top: 2px;
          }
        </style>
    </head>
    <body>
        <div id="page-wrapper">
            <div class="container-fluid text-center">
                <div class="row content">
                  <div  class="col-sm-12 jumbotron">
                      <h1>Site Marchand</h1>
                      <p>Vente des produits hommes et femmes</p>
                  </div>
                    <div class="col-sm-2 sidenav">
                        {% block sidebar %}{% endblock %}
                    </div>

                    <div class="col-sm-10 text-left">
                         {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
      </div>
       
        {% block javascripts %}{% endblock %}
    </body>
</html>
