{% extends "::base.html.twig" %}
{% use 'CatalogueBundle:Default:sidebar_categorie.html.twig' %}

{% block body %}
    <div class="row">
   {% for product in products %}
            <div class="col-sm-3">
                <div class="w3-card-4">
                    <a href="{{path('product_detail', {id:product.id})}}">
                       <img src="{{asset('images/uploads/'~product.imageName)}}" style="width:100%">
                    </a>
                    <div class="w3-container">
                        <h4><b>{{product.name}}</b>,<b><span style="color: red">{{product.price}}&nbsp;&euro;</span></b></h4>
                    </div>
                  </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}

